/* * SELECTS EVERYTHING ON THE PAGE AND SETS TO THE DEFAULT
LISTED BELOW */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* THIS GIVES A GRAY BACKGROUND TO THE BODY */
body {
    background-color: gray;
}


/* THIS IS THE PARENT CONTAINER WITH THE WITH BACKGROUND
THAT WE ARE SEEING */
.container-form {
    width: 50%;
    height: 100vh;
    margin: auto;
    background-color: white;
    text-align: center;
    padding: 40px 0;

}


/* HOME BUTTON AND ICON STARTS HERE*/



.create-title {
    position: relative;
}

.create-title .home-btn {
    font-size: 16px;
    color: black;
    font-weight: 400;
    padding: 10px 15px;
    background-color: rgb(9, 255, 181);
    position: absolute;
    left: 5%;
    
}

/* GO HOME BUTTON AND ICON ENDS HERE */



.container-form p {
    padding: 20px 0px 25px 0px;
}

/* STYLING THE SOCIAL BUTTONS */


/* THIS CLASS GIVES THE SYLING FOR THE SOCIAL MEDIA BUTTONS */

.form-class a {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 15px;
    margin: 0 5px;
    text-decoration: none;

}


/* THIS SELECTS THE FIRST ANCHOR ELEMENT INSIDE THE form-class AND GIVES IT A BACKGROUND COLOR OF #3b5998*/
.form-class a:nth-child(1) {
    background-color: #3b5998;

}


/* THIS SELECTS THE second ANCHOR ELEMENT INSIDE THE form-class AND GIVES IT A BACKGROUND COLOR OF #26a7de*/
.form-class a:nth-child(2) {
    background-color: #26a7de

}


/* THIS SELECTS THE third ANCHOR ELEMENT INSIDE THE form-class AND GIVES IT A BACKGROUND COLOR OF red*/
.form-class a:nth-child(3) {
    background-color: red;

}


/* HORIZONTAL LINE WITH OR */

/* the OR is in a class called .or */
.or {
    width: 65%;
    margin: auto;
}


/* FIELDSET PUTS THE LINE AND ALL BORDERS ARE REMOVED EXCEPT BORDER TOP */
fieldset {
    border: 2px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;

    margin: 20px 0;
    
}


/* lEGEND CONTAINS THE CIRCLE or. Legend alway places its content in the middle of fielset line */
legend {
    padding: 8px 10px;
    border: 2px solid gray;
    background-color: white;
    border-radius: 100px;
}

/* FORM ELEMENTS START HERE */

/* EACH ICON AND INPUT ELEMENT ARE IN A DIV CALLED "form.user" */

.form-user {
    position: relative;
    width: 50%;
    margin: auto;
}


/* THIS IS FOR THE ICONS IN THE INPUTS */
.form-user i {
    position: absolute;  /* POSITIONED ABOSOLUTE TO MAKE*/ 
    left: 7px;              /* IT REMAIN IN ITS CONTAINER*/
    top: 13px;
    font-size: 16px;
    color: lightblue
}


/* THIS IS THE INPUTE ELEMENTS */
input {
    width: 100%;   /*100% of its container*/
    height: 40px;     
    text-indent: 30px;
    padding-top: 7px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 15px;
    
}


/* WHEN ANY INPUT IS CLICKED (FOCUS), THE OUTLINE WILL NOT SHOW */
input:focus {
    outline: none;
}


/* THIS TARGETS THE PLACE HOLDER (TEXT) IN THE INPUTS */
input::placeholder {
    font-size: 16px;
    color: lightblue;
}


/* THIS IS OUT BUTTON */
.btn-btn{
   width: 30%;
   padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(9, 255, 181);
    cursor: pointer;
    
}


/* do not have an account? */
.have-account a {
    color: rgb(9, 255, 181);
    text-decoration: none;
}

.have-account a:hover {
    color: gray;
}



/* MOBILE RESPOSIVENESS */


/* at max screen size of 1300, width of 55% width applies */
@media screen and (max-width: 1300px) {
    .container-form {
        width: 55%;
        }
}

/* at max screen size of 1100, width of 60% width applies */
@media (max-width: 1100px) {

    .container-form {
    width: 60%;
    }
}


/* at max screen size of 1300, width of 75 applies */
@media screen and (max-width: 900px) {

    .container-form {
    width: 75%;
    }
}

@media (max-width: 700px) {

    .container-form {
    width: 80%;
    }

}

@media (max-width: 650px) {

    .container-form {
    width: 90%;
    }

}

@media (max-width: 625px) {

    .container-form {
    width: 100%;
    }

    .create-title .home-btn {
        
        left: 2%;
        padding: 2px px;
        
    }

    
}